In [5]:
import pandas as pd
import numpy as np

np.random.seed(42)

In [6]:
# Caravana AZ approximate center
center_lat, center_lng = 33.4294, -111.9381

# Generate 15 fake delivery points within 0.1 degree lat/lng (~11 km)
num_deliveries = 15
latitudes = center_lat + np.random.uniform(-0.05, 0.05, num_deliveries)
longitudes = center_lng + np.random.uniform(-0.05, 0.05, num_deliveries)

In [7]:
depot = {'location_id': 'Depot', 'lat': center_lat, 'lng': center_lng}
data = pd.DataFrame({
    'location_id': [f'Delivery_{i+1}' for i in range(num_deliveries)],
    'lat': latitudes,
    'lng': longitudes
})

data = pd.concat([pd.DataFrame([depot]), data], ignore_index=True)

data

    location_id        lat         lng
0         Depot  33.429400 -111.938100
1    Delivery_1  33.416854 -111.969760
2    Delivery_2  33.474471 -111.957676
3    Delivery_3  33.452599 -111.935624
4    Delivery_4  33.439266 -111.944905
5    Delivery_5  33.395002 -111.958977
6    Delivery_6  33.394999 -111.926915
7    Delivery_7  33.385208 -111.974151
8    Delivery_8  33.466018 -111.958886
9    Delivery_9  33.439512 -111.951464
10  Delivery_10  33.450207 -111.942493
11  Delivery_11  33.381458 -111.909582
12  Delivery_12  33.476391 -111.968133
13  Delivery_13  33.462644 -111.936677
14  Delivery_14  33.400634 -111.928859
15  Delivery_15  33.397582 -111.983455

In [8]:
data.to_csv("carvana_delivery_locations.csv", index=False)
data.head()

  location_id        lat         lng
0       Depot  33.429400 -111.938100
1  Delivery_1  33.416854 -111.969760
2  Delivery_2  33.474471 -111.957676
3  Delivery_3  33.452599 -111.935624
4  Delivery_4  33.439266 -111.944905